/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh; /* Agar tinggi body menutupi seluruh layar */
}

/* Gaya Sidebar */
.sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.sidebar-link {
    list-style: none;
    width: 100%;
    padding-left: 0;
}

.sidebar-link li {
    width: 100%;
}

.sidebar-link a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 0.2s ease;
}

.sidebar-link a:hover {
    background-color: #575757;
}

/* Gaya Konten Utama */
.content {
    flex-grow: 1;
    padding: 20px;
}